<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="TestNg">
		<groups>
			<run>
				<include name="Apple"></include>
				<include name="Samsung1"></include>
			</run>
		</groups>
		<classes>
			<class name="testNG.GroupTest" />
		</classes>
	</test> <!-- TestNg -->
</suite> <!-- Suite -->
